<div class="container">
  <h4 class="border-bottom pb-2"><i class="fas fa-chair"></i> Servicio de Peluquería</h4>

  <div class="row">
    <div class="col-lg-4">
      <br>
      <div class="container">
        <label for="exampleFormControlInput1" class="form-label">Socio / Cliente</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Identificación" name="identificacion"
            [(ngModel)]="identificacion">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"
            (click)="verificarSitieneSeguroMortuorio()">
            <i class="fa-solid fa-user-check"></i> Verificar
          </button>
        </div>
        <div class="text-success border rounded border-success p-1" *ngIf="siTieneSeguroMortuorio == 'existe'">
          <i class="fa-solid fa-user"></i> {{nombrePersonaConsultada}}
        </div>
        <div class="text-danger border rounded border-danger p-1" *ngIf="siTieneSeguroMortuorio == 'noexiste'">
          <i class="fa-solid fa-triangle-exclamation"></i> No tiene el seguro, o esta sin renovación!!
        </div>
        <div class="form-group mt-3">
          <label for="exampleFormControlSelect1" class="mb-1 ml-1">Seleccionar Sucursal</label>
          <select class="form-control" id="exampleFormControlSelect1" name="idsucursal"
            [(ngModel)]="solicitudCreate.IDSUCURSAL">
            <option *ngFor="let x of sucursales" value="{{x.IDSUCURSAL}}">{{x.SUCURSAL}}</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="exampleFormControlSelect1" class="mb-1 ml-1">Seleccionar Día</label>
          <select class="form-control" id="exampleFormControlSelect1" name="fecha" [(ngModel)]="fechaSeleccionada"
            (change)="mostrarTurnos()">
            <option *ngFor="let x of diasDisponibles" value="{{x.dia + '#' + x.nombre + '#' + x.mes + '#' + x.anio}}">
              {{x.nombre + ' '+ x.dia + ' de ' + x.mes + ' del ' + x.anio}}
            </option>
          </select>
        </div>
        <br>
        <table class="table table-bordered table-sm" *ngIf="turnosShow == true">
          <thead>
            <tr>
              <th scope="col" class="text-center">Turnos disponibles</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of horariosDeServicio">
              <td class="text-center">{{x.HORARIO}}</td>
              <td class="text-center">
                <button class="btn btn-outline-primary btn-sm" (click)="seleccionar(x.HORARIO, x.IDHORARIO)">
                  Seleccionar
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="text-center border border-success pt-3 pb-2 rounded text-success"
          *ngIf="turnoSeleccionadoShow == true">
          <h5>Turno solicitado</h5>
          <p>{{turnoSeleccionado}}</p>
        </div>

        <button class="btn btn-primary w-100 mt-3" (click)="EnviarSolicitud()"
          *ngIf="cantidadNumeroDiaUltimaSolicitud > 7 && siTieneSeguroMortuorio == 'existe'">
          <i class="fas fa-calendar-check"></i> Generar Cita
        </button>
        <span class="badge badge-pill badge-warning p-2 w-100"
          *ngIf="cantidadNumeroDiaUltimaSolicitud < 8 && siTieneSeguroMortuorio == 'existe'">Faltan
          {{8 - cantidadNumeroDiaUltimaSolicitud}} días para solicitar un nuevo turno</span>
      </div>



    </div>
    <div class="col-lg-8">
      <table class="table table-striped mt-2">
        <thead class="table-primary">
          <tr>
            <th scope="col">Fecha solicitud</th>
            <th scope="col">Turno</th>
            <th scope="col">Estado</th>
            <th scope="col">Sucursal</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of solicitudesAlmacenadas">
            <td>{{x.FECHATURNO}}</td>
            <td>{{x.HORARIO}}</td>
            <td>
              <span class="badge bg-warning" *ngIf="x.ESTADO == 'Pendiente'">{{x.ESTADO}}</span>
              <span class="badge bg-success" *ngIf="x.ESTADO == 'Finalizado'">{{x.ESTADO}}</span>
              <span class="badge bg-danger" *ngIf="x.ESTADO == 'Ausente'">{{x.ESTADO}}</span>
            </td>
            <td>{{x.SUCURSAL}}</td>
            <td *ngIf="x.ESTADO == 'Pendiente'">
              <button class="btn btn-danger btn-sm" (click)="cancelarSolicitud(x.IDSOLICITUD)">
                <i class="fas fa-window-close"></i> Cancelar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
